.bd-example {
  padding: .25rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 1px;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.bg-class {
  background-color: #272822;
}

.header-class {
  color: #A2A39C;
  font-family: 'Inconsolata';
}

.tab-class {
  color: #A2A39C;
  font-family: 'Inconsolata';
  cursor: pointer;
}

.disabled {
  display: none;
}